@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

:root {
    --background-color: black;
    --default-font-size: 16px;
    --font-family-default: "Roboto Condensed", Arial, sans-serif;

    --header-text-color: #fff;
    --header-background-color: linear-gradient(to left, #ed213a, #93291e);

    --task-background-color: #262e4c;
    --task-separation-color: #1c2340;
    --task-text-color: #b1b2c9;
    --task-hover-color: #323b5c;

    --check-background-color: #404a6e;
    --check-background-color-effect: #171d37;

    --input-background-color: rgb(23, 29, 55);
    --input-text-color: #fff;
    --placeholder-color: rgb(105, 117, 117);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 4fr 6fr;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../img/spidermangrocerystore.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: overlay;
    font-family: var(--font-family-default);
    font-size: var(--default-font-size);
    overflow-x: hidden;
}

.toDoList {
    width: 100%;
    max-width: 600px;
    grid-column-start: 2;
    box-shadow: 0px 0px 20px black;
}

/* ----------------------------------------------
---------------------Header---------------------
*/
.toDoList header {
    color: var(--header-text-color);
    background: var(--header-background-color);
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    font-size: 1.3rem;
}

/* ----------------------------------------------
---------------------Lista---------------------
*/
.wrapper-list ul.list li {
    position: relative;
    background-color: var(--task-background-color);
    border-bottom: 1px solid var(--task-separation-color);
    color: var(--task-text-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 300ms ease;
}
.wrapper-list ul.list li:hover {
    background-color: var(--task-hover-color);
    transform: scale(1.1);
    border-radius: 10px;
    z-index: 2;
    border: 1px solid var(--task-separation-color);
}

.wrapper-list ul.list:hover > :not(:hover) {
    filter: blur(0.8px);
    opacity: 0.8;
}

/* ----------------------------------------------
---------------------Botão Remover---------------------
*/
.wrapper-list ul.list li:hover button.remove {
    opacity: 1;
}

.wrapper-list ul.list button.remove {
    position: absolute;
    background-color: var(--header-background-color);
    background-image: url(../img/delete.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 100%;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms ease;
}

.wrapper-list ul.list button.remove:active {
    transition: 400ms;
    transform: scale(0.6);
}

/* ----------------------------------------------
---------------------Botão de marcar---------------------
*/
.wrapper-list ul.list .check {
    position: relative;
    background-color: var(--check-background-color);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 500ms;
}

.wrapper-list ul.list .check:hover {
    background-color: var(--check-background-color-effect);
}

.wrapper-list ul.list li.checked .check {
    background-image: url(../img/check1.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: check 1s ease forwards;
}
@keyframes check {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
---------------------Label (Nome da tarefa)---------------------
*/
.wrapper-list ul.list li .task {
    color: var(--input-text-color);
}
.wrapper-list ul.list li.checked .task {
    text-decoration: line-through;
}

/* ----------------------------------------------
---------------------Input---------------------
*/
#inputTask {
    background: var(--input-background-color);
    border: none;
    width: 100%;
    color: var(--input-text-color);
    outline: none;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    font-size: 1.2rem;
    font-family: var(--font-family-default);
}

#inputTask::placeholder {
    color: var(--placeholder-color);
}

/* ----------------------------------------------
---------------------Animação de Excluir Tarefa---------------------
*/
@keyframes closing {
    0% {
    }
    100% {
        transform: rotateX(-0.25turn) translateX(1000px);
    }
}
.wrapper-list ul.list li.removed {
    animation: closing 1s ease forwards;
}
.wrapper-list ul.list li.deleted {
    display: none;
}

/* ----------------------------------------------
---------------------Mensagens Pop-up---------------------
*/
.toast {
    transform: translateX(-50%);
    color: white;
    position: absolute;
    top: -15%;
    left: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 1s;
    border: 2px solid;
}

.toast.error {
    border-color:red;
    background: firebrick;
    box-shadow: 0px 0px 10px red;
}

.toast.warning {
    border-color: orange;
    background: rgba(255, 165, 0, 0.6);
    box-shadow: 0px 0px 10px orange;
}

.toast.error, .toast.warning{
    top: 5%;
}

/* ----------------------------------------------
---------------------Footer - Mensagem Adicional---------------------
*/

.footer {
    color: wheat;
    font-size: 0.7rem;
    grid-row-start: 2;
    grid-column: span 2;
}

.footer a {
    text-decoration: none;
    color: wheat;
    transition: 400ms;
}

.footer a:hover {
    color: firebrick;
}

/* ----------------------------------------------
--------------------- Versão Mobile---------------------
*/

@media screen and (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        background-color: rgba(31, 31, 31, 0.45);
        background-image: url(../img/batman.png);
        background-size: cover;
        background-position: bottom center;
        background-blend-mode: overlay;
        background-repeat: repeat-y;
        padding-top: 8rem;
        height: 100svh;
        position: relative;
    }
    .toDoList {
        margin-top: 15px;
        align-self: self-start;
        max-width: 80vw;
        padding: 0;
        border-radius: 0px;
        background-color: var(--task-hover-color);
    }

    .toDoList header {
        text-align: center;
        background: rgb(131, 87, 42);
    }

    .wrapper-list ul.list li:hover {
        transform: scale(1);
        border-radius: 0px;
    }
    
    .wrapper-list ul.list:hover > :not(:hover) {
        filter: blur(0.8px);
        opacity: 0.8;
    }
  
    .wrapper-list ul.list button.remove {
        opacity: 0.3;
    }

    .toast {
        width: 90vw;
        font-size: 20px;
    }

    .toast.error, .toast.warning{
        top: 3%;
    }

    .footer {
        font-size: 11px;
        display: block;
        width: 100%;
        padding: 3px 0;
        text-align: center;
        position: absolute;
        bottom: 0%;
        right: 50%;
        transform: translateX(50%);
        z-index: -10;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .footer a{
        animation: colorLink 1s ease 5s forwards;
    }

    @keyframes colorLink {
        100%{
            color: firebrick;
        }
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1366px) {
    body {
        grid-template-rows: 1fr 20px;
        grid-template-columns: 1fr;
        background-position: initial;
    }
    .toDoList {
        grid-column-start: 1;
    }
    .footer {
        grid-row-start: 2;
        grid-column: span 1;
    }

    .wrapper-list ul.list button.remove {
        opacity: 0.3;
    }
}
